html {
  height: 100%;
}

/* Note: This may cause issues in Internet Explorer which has weak support for flexbox. */
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1 0 auto;
}

canvas {
  width: 100%;
}

nav .button-collapse {
  padding-left: 10px;
}

.controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.t {
    transform: translate(0px,-100px);
}
